<!DOCTYPE html>
<html>
  <head>
    <title>HiringProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    
  </head>

  <body>
  <%= render 'home/navbar' %>
  <div id="container" style="height: 400px; min-width: 310px"></div>
  <%= render 'home/topchart' %>
  <div id="container2"></div>
  <%= render 'home/bottomchart' %>
  <%= yield %>

  </body>
</html>
